.section-analyze{
    padding:9.6rem 0;

    &__heading{
        text-align: center;
        width:1000px;
        max-width: 100%;
        margin: 0 auto;
    }

    .analyze-table{
        width: 100%;
        border-collapse: collapse;
        margin-top:7.2rem;
        border-spacing: 0px;
        border:none;

        tbody{
            position: relative;

            &:after{
                content: "";
                width: calc(25% - 2rem);
                height: calc(100% + 12.6rem);
                /* Firefox */
                height: -moz-calc(100% + 12.6rem);
                /* WebKit */
                height: -webkit-calc(100% + 12.6rem);
                position: absolute;
                top: -12.6rem;
                left: calc(25% + 1rem);
                border-radius: 10px;
                background: white;
                box-shadow: 0 40px 60px -20px rgba(12,5,62,0.15);
                border: 1px solid $border;
                display: none;

                @include tablet{
                    display: block;
                }
            }


        }

        &__header{
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index: 100;

                @include maxtablet{
                    @include flex();
                }
            
            th{
                padding:0 1rem;
                
                

                @include tablet{
                    width: 25%;

                }

                &:first-child{
                    position: relative;

                    @include maxtablet{
                        display: none;
                    }
                }
            }

            &-inner{

                @include tablet{
                    padding: 24px 0;
                }
            }
        
            &-heading{
                text-align: center;
                padding: 1rem 0.5rem;
                
                    @include mobile{
                        padding:2rem;
                    }
                

                    @include tablet{
                        border: 1px solid $border;
                        padding: 0 10px;
                        border-radius: 10px 10px 0 0;
                        background: $darkbg;
                    }

                img{
                    margin-bottom: 1.4rem;
                    max-width: 23px;
                }

                span{
                    display: block;
                    font-size: 1.6rem;

                    @include mobile{
                        font-weight: 600;
                        font-size:1.8rem;
                    }
                }

                &--first{
                    background: $darkbg;
                    width:95%;
                    height:100%;
                    position: absolute;
                    top:0px;
                    left: 0px;
                    z-index: -1;
                }
            }
        }

        &__body{
            
            @include maxtablet{
                @include flex();
                flex-wrap: wrap;
            }

            &-property{
                font-size: 1.4rem;
                display: block;
                font-weight: 600;

                    @include tablet{
                        padding:0 1rem;
                        font-weight: unset;
                        @include flex();
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        align-items: center;
                    }

                .info{
                    width:14px;
                    height:14px;
                    display: inline-block;
                    cursor: pointer;
                    margin-left: 8px;
                    vertical-align: -3px;
                    position: relative;
                    flex: 0 0 14px;

                    .info-tooltip {            
                        position: absolute;
                        opacity : 1;
                        background-color: $base;
                        color:white;
                        @include border-radius(5px);
                        padding:15px 30px;
                        font-weight: 400;
                        width:458px;
                        top:-100%;
                        @include boxie-shadow(-8px,13px,51px,-12px,$base);
                        opacity: 0;
                        z-index:-1;
                        left:-400px;

                        @include maxtablet{
                            width:258px;
                        }
                    }

                    &:hover{

                        .info-tooltip{
                            opacity: 1;
                            z-index:1000;
                        }
                    }
                }
            }

            &-content{
                

                @include tablet{
                    padding:0 1rem;
                }
            }

            &-text{
                text-align: center;
                display: block;
                padding:1.6rem;
                font-size: 1.4rem;
                background: white;
                position: relative;
                z-index: 2;
                border-color:white;
                
                @include tablet{
                    border-width:0px 1px 0px 1px;
                    border-style: solid;
                    border-color: $border;
                    background: transparent;
                }
            }

            td:first-child{
                padding:0px 1rem;
                width:248px;
                box-sizing: border-box;
                position: relative;

                @include maxtablet{
                    width:100%;
                    display: block;
                    padding:20px 0px 10px 0px!important;
                }
            }
        }

        /*On response first full width*/

        tr > td, tr > th{

            @include maxtablet{
                width: 33%;
                box-sizing: border-box;
            }
        }


        /*Background for second td in line - ROI2*/
        tr > td:nth-child(2) > .analyze-table__body-text {

            @include tablet {
                border: 0 !important;
            }
        }

        tr > th:nth-child(2) > .analyze-table__header-heading{
            background: transparent;
            border: 0;

            @include tablet{
                border-bottom: 1px solid $border;
            }
        }

        tr:last-child > td > .analyze-table__body-text{
            @include tablet{
                @include border-radiuses(0px,10px,10px,0px);
                border-bottom: 1px solid $border;
            }
        }

        tr > th:nth-child(2) > .analyze-table__header-heading .analyze-table__header-inner{
            @include tablet{
                background: white;
            }
        }

        tr:last-child > td > .analyze-table__body-property,tr:last-child > td > .analyze-table__body-text{
            @include tablet{
                padding-top: 1.6rem;
                padding-bottom: 3rem;
            }
        }

        /*Each first bigger padding top*/
        tr:first-child > td > .analyze-table__body-text,tr:first-child > td > .analyze-table__body-property{

            @include tablet{
                padding-top: 3rem;
                padding-bottom: 1.6rem;
            }
            
        }

        tr > th{
            @include maxtablet{
                background: white;
            }
        }


        /*Hover row*/
        tr:hover > td{
            cursor: default;
            font-weight: 600;
            //@include transition(0.3s all linear);
        }

        
    }
}