.section-brands{
    @include flex();
    justify-content: center;
    align-items: center;
    padding:3rem 4%;
    box-sizing: border-box;
    max-width: 80%;
    width:1056px;
    margin:0 auto;
    margin-top:-13.5rem;
    @include border-radius(10px);
    z-index: 2;
    position: relative;
    background: white;
    flex-wrap: wrap;
    border: solid 0.8px #e9e8f3;


        @include mobile{
            padding:3rem 6%;
        }

        @include tablet{
            flex-wrap: nowrap;
            margin-top:-6.5rem;
            
        }

    &__item{
        padding:10px 6%;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        flex: 0 1 33%;

        @include tablet{
            flex: 0 1 auto;
        }

        img{
            display: inline-block;
            max-height: 49px;
            max-width: 100%;
            

            @include tablet{
                margin:0;
                max-width: 120px;
            }
        }

    }    

    
}