.section-clients{
    margin-top:-14.5rem;
    padding:17.9rem 0 6rem 0;
    background: $base;
    
        @include tablet{
            margin-top:-6rem;
            padding:17.9rem 0 11.1rem 0;
        }

        &--light{
            background: $darkbg;
            padding: 9.6rem 0;
            margin-top:0;

            @include tablet{
                padding: 9.6rem 0;
                margin-top:0;
            }
        }

        

    &__heading{
        margin-bottom: 7.2rem;
        margin-top:0;
    }    

    &__container{
       width:900px;
       padding:0px;
       
       @include tablet{
           padding:0px 30px;
       }
    }

    &__item{
        @include border-radius(10px);
        width: 700px;
        max-width: 90%;
        margin: 0px auto;
        margin-bottom: 6rem;
        padding:2rem 4rem;
        box-sizing: border-box;

            @include tablet{
                padding:2rem 0 0;
            }

            &--nopadding{
                padding:0rem;
                @include boxie-shadow(-1px,2px,21px,-4px,rgba(0,0,0,0.15));
            }
    }

    &__content{
        background: white;
        text-align: center;
        padding:3rem 4rem;
        @include border-radiuses(10px,0px,0px,10px);
        background: #f8f8f8;

        h3{
            font-size: 2.7rem;
            margin-top:2rem;
        }

        p{
            font-size: 1.7rem;
        }
    }

    &__name{
        background: white;
        @include flex();
        justify-content: center;
        align-items: center;
        padding:2rem;
        @include border-radiuses(0px,10px,10px,0px);

        &-img{
            flex: 0 0 80px;

            img{
                @include border-radius(50%);
            }
        }

        &-text{
            padding-left: 2rem;

            strong{
                display: block;
                font-size:1.7rem;
            }

            small{
                font-size: 1.6rem;
            }
        }
    }
}


.swiper-pagination-bullet{
    background: white!important;
}

.swiper-pagination-bullet-active{
    background:white!important;
}

.swiper-pagination--dark{
    .swiper-pagination-bullet{
        background: $base!important;
        opacity: 0.2;
    }
    
    .swiper-pagination-bullet-active{
        background:$base!important;
        opacity: 1;
    }
}

.swiper-button-next, .swiper-button-prev{
    color:white!important;


    &:after{
        font-size:2.4rem!important;
    }
}