.section-discover{
    padding: 7.2rem 0 9.6rem 0;
    background-color: $base;
    color:white;

    &__heading{
        width:63.1rem;
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
    }

    &__points{
        margin-top:7.2rem;
        padding-bottom: 6.9rem;
        position: relative;

            @include tablet{
                @include flex();
                justify-content: center;
            }

        &:after{
            content:"";
            border-bottom: 2px solid white;
            width: 5.3rem;
            position: absolute;
            left:50%;
            @include transform(-50%,0%);
            bottom:0px;
            display: block;
        }

        &-item{
            padding-bottom: 2rem;
            width:100%;
            box-sizing: border-box;
            text-align: center;

                @include tablet{
                    flex:0 1 330px;
                    padding:2%;
                }

            h3{
                margin-top:0px;
                margin-bottom:3.2rem;
            }

            p{
                font-size:1.8rem;
                margin-bottom: 0px;
                font-weight: 500;
            }
            
        }

        &-content{
            @include border-radius(10px);
            padding:4.7rem 3.2rem 4rem 3.2rem;
            height: 100%;
            box-sizing: border-box;
            flex-direction: column;
            position: relative;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#332a9c+0,332a9c+40,332a9c+40,443da2+40,6062ac+100 */
background: #332a9c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #332a9c 0%, #332a9c 40%, #332a9c 40%, #443da2 40%, #6062ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #332a9c 0%,#332a9c 40%,#332a9c 40%,#443da2 40%,#6062ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(155deg,  #332a9c 0%,#332a9c 40%,#332a9c 40%,#443da2 40%,#6062ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#332a9c', endColorstr='#6062ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



        }

        &-image{
            @include flex();
            align-items: center;
            justify-content: center;
            margin-bottom: 2.3rem;
            width: auto;
            height:12rem;

                @include tablet{
                    position: relative;
                    @include transform(0,0);
                    height:21.1rem;
                    margin-top:3.4rem;
                    align-items: flex-end;
                }   

            img{
                max-height: 100%;
                max-width: 100%;
            }
        }

    }

    &__video{
        position: relative;
        margin:0 auto;
        width:593px;
        margin-top:7rem;
        overflow: hidden;
        max-width: 100%;

            &--large{
                width:1002px;
            }

        &-overlay{
            background: rgba(0,0,0,.5);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 2;

            p{
                position: absolute;
                z-index: 3;
                left:0;
                top:0;
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                width:100%;
                

                @include tablet{
                    text-align: unset;
                    font-size: 2.2rem;
                    width:auto;
                    left:4rem;
                    top:2rem;
                }
            }

            &--blue{
                background: transparentize(#0b0830, .4);
            }
        }

        &-play{
            position: absolute;
            bottom:2rem;
            left:50%;
            @include transform(-50%,0);
            z-index: 3;
            cursor: pointer;
            font-weight: 600;
            padding: 8px 8px 8px 15px;
            border:1px solid rgba(255,255,255,.5);;
            @include border-radius(50px);
            width:140px;

                @include tablet{
                    padding: 8px 8px 8px 30px;
                    right:4rem;
                    @include transform(0%,0);
                    left:auto;
                    width: auto;
                }

                @include mobile{
                    bottom:4rem;
                }

            &:after{
                content: ' \25BA';
                color:black;
                font-family: 'Times New Roman';
                text-align: center;
                width:25px;
                height: 25px;
                background: white;
                display: inline-block;
                @include border-radius(50%);
                vertical-align: 0px;
                margin-left: 10px;
                box-sizing: border-box;
                line-height: 25px;

                @include tablet{
                    font-size:2.2rem;
                    width:48px;
                    height: 48px;
                    vertical-align: 0px;
                    line-height: 48px;
                    padding-left: 5px;
                }
            }

            &--centered{
                left: 50%;
                width:auto;
                @include transform(-50%,-50%);
                right: auto;
                bottom:auto;
                top:50%;
            }
        }

        &-file{
            @include border-radius(10px);
            width:100%;
        }

    }

    .blurred{ 
        -webkit-filter: blur(5px); 
        filter: url(#blur-effect-1);
    }

    .blur-filter{
        position: absolute;
    }
}