.section-hero{
    background-color:#0A0E3E;
    background-image: url('img/hero.png'),url('img/hero2.png');
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size:auto 100%;
    color:white;
    padding:17.7rem 0;

    @include desktop{
        padding:12.7rem 0;
    }

    .btn-link{
        display: inline-block;
        color: white;
        margin-top: 20px;
        text-decoration: underline;

        &:hover{
            text-decoration: none;
        }

        position: absolute;
        bottom: -14rem;
        left:50%;
        @include transform(-50%,0);
        white-space: nowrap;

        @include desktop{
            position: relative;
            bottom:auto;
            left:auto;
            @include transform(0%,0);
            white-space: initial;
        }
    }

    &__container{
        @include flex();
        flex-direction: column-reverse;

        @include desktop{
            flex-direction: row;
            align-items: center;
        }
    }


    &__text{
        text-align: center;
        margin-bottom: 6rem;

        @include desktop{
            padding-left: 8.8rem;
            flex: 0 0 491px;
            text-align: unset;
            margin-bottom: 0;
        }

        &--nopadding{
            @include desktop{
                padding-left: 0rem
            }
        }

        h1{
            margin-top:2rem;

            @include desktop{
                margin-top:0;
            }
        }

        p{
            font-size:2rem;

            @include desktop{
                margin-bottom: 5rem;
            }
        }
    }

    .btn{
        position: absolute;
        bottom: -8rem;
        left:50%;
        @include transform(-50%,0);
        white-space: nowrap;

        @include desktop{
            position: relative;
            bottom:auto;
            left:auto;
            @include transform(0%,0);
            white-space: initial;
        }
    }
}