.section-solutions{
    padding:9.6rem 0;

        &--nopadding{
            padding:0px;
            position: relative;

        }

    &__heading, &__text{
        text-align: center;

    }

    &__heading{
        width:63.1rem;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 3.2rem;
    }

    &__text{
        width:76.2rem;
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;


    }

    .subsection-solutions{
        padding-top: 12rem;
        

            @include tablet{
                padding-top: 9.6rem;
            }

            &--smallpadding{
                padding-top:6.6rem;

                @include tablet{
                    box-sizing: padding-box;
                }
            }

            &--feature{

                .subsection-solutions__container{

                    @include tablet{
                        flex-direction: row-reverse!important;
                    }
                }
    
                .subsection-solutions__pic{
    
                    @include tablet{
                        padding-left: 0px;
                        padding-right: 7%!important;
                    }
                }
            }

            &--show{

                @include tablet{
                    opacity: 1;
                    position: relative;
                }
            }

        &:nth-child(2n+1){

            .subsection-solutions__container{
                @include tablet{
                    flex-direction: row-reverse;
                }
            }

            .subsection-solutions__pic{

                @include tablet{
                    padding-left: 0px;
                    padding-right: 7%;
                }
            }
        }

        &__container{
            @include flex();
            align-items: center;
            flex-direction: column-reverse;
            position: relative;
            padding-bottom: 5rem;

            @include tablet{
                flex-direction: row;
                padding-bottom: 0;
            }

            &--feature{
                @include tablet{
                    align-items: flex-start;
                }
            }
        }

        &__text{
            order: 1;
            margin-bottom: 4rem;
            text-align: center; 

                @include tablet{
                    flex:0 0 431px;
                    order: initial;
                    margin-bottom: 0;
                    text-align: left;
                }

                &--smaller{

                    @include tablet{
                        flex:0 0 343px;
                    }
                }

            &-preheading{
                text-transform: uppercase;
                color: $primary;
                font-size: 1.6rem;
                font-weight: 600;
                text-align: center;
                display: block;

                    @include tablet{
                        text-align: left;
                    }

                &::before{
                    content:"";
                    border-bottom: 2px solid $primary;
                    width: 3.3rem;
                    margin-right: 1rem;
                    display: inline-block;
                    vertical-align: 5px;
                }

                &::after{
                    content:"";
                    border-bottom: 2px solid $primary;
                    width: 3.3rem;
                    margin-left: 1rem;
                    display: inline-block;
                    vertical-align: 5px;

                    @include tablet{
                        display: none;
                    }
                    
                }
            }

            &-preicon{
                text-transform: uppercase;
                color: $primary;
                font-size: 1.6rem;
                font-weight: 600;
                justify-content: center;
                @include flex();
                align-items: center;
                margin-top:2rem;

                    @include tablet{
                        justify-content: flex-start;
                        font-size:1.2rem;
                    }

                    svg{
                        margin-right: 1.6rem;
                        height: 16px;
                        width: auto;
                        stroke: $primary;
                        filter:invert(29%) sepia(52%) saturate(4220%) hue-rotate(341deg) brightness(90%) contrast(93%);
                        -webkit-filter: invert(29%) sepia(52%) saturate(4220%) hue-rotate(341deg) brightness(90%) contrast(93%);
                        -moz-filter:invert(29%) sepia(52%) saturate(4220%) hue-rotate(341deg) brightness(90%) contrast(93%);
                    }

                    span{
                        margin-top: 2px;
                        line-height: 1;
                    }
            }

            h3{
                font-size: 3.2rem;
                margin-top:2.2rem;
                margin-bottom: 1.6rem;
            }

            &-protip{
                font-size:1.4rem;
                color:$base-light;

                strong{
                    color: $primary;
                    display: block;
                }
            }

        }

        &__pic{

            @include tablet{
                padding-left: 7%;
            }
        }

        .btn{
            position: absolute;
            bottom: -0.5rem;
            left: 50%;
            @include transform(-50%,0);
            text-align: center;
            white-space: nowrap;

            @include tablet{
                bottom: auto;
                position: relative;
                left: auto;
                @include transform(0%,0);
                white-space: initial;
            }
        }
    }
}

#feature-slider{
    display: none;

    @include tablet{
        display: block;
    }
}

#feature-mobile{
    @include tablet{
        display: none;
    }
}