.section-stories{
    padding:9.6rem 0 10rem 0;
    background: #ffffff!important;
    position: relative;

        @include tablet{
            padding:9.6rem 0 2rem 0; 
        }

    &__container{
        @include flex();
        justify-content: center;
        align-items: center;
        flex-direction: column;

            @include tablet{
                flex-direction: row;
            }
    }

    &__text{
        text-align: center;
        box-sizing: border-box;
        margin-bottom:4rem;

            @include tablet{
                margin-top:0;
                flex:0 1 53.3rem;
                padding-right: 12%;
                text-align: unset;
            }

        .btn{
            margin-top:3.2rem;
        }
    }

    &__logos{
        flex: 0 1 50%;
        @include flex();
        flex-wrap: wrap;

        &-item{
            width:33.333%;
            padding: 0.8rem;
            box-sizing: border-box;

            @include tablet{
                padding: 1.2rem;
            }
        }

        &-content{
            border:1px solid $darkbg;
            @include flex();
            align-items: center;
            justify-content: center;
            height: 12.8rem;
            @include border-radius(16px);
            @include boxie-shadow(-1px,8px,20px,-3px, #EEEEF2);
            
            

            img{
                max-width: 80%;
                max-height: 80%;
            }
        }
    }

    .btn{
        position: absolute;
        bottom:-8rem;
        left:50%;
        @include transform(-50%,0%);
        white-space: nowrap;

        @include tablet{
            position: relative;
            bottom:auto;
            @include transform(0,0%);
            left:auto;
            white-space: initial;
        }
    }
}