.btn{
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    line-height: 1.1;
}

.btn-primary{
    background-color: $primary;
    color:white;
    padding:1.4rem 2rem;
    padding-top:1.8rem;
    font-weight: 600;
    @include border-radius(5px);
}

.btn-secondary{
    font-size: 1.6rem;
}