
.center{
    text-align: center;
}

.container{
    width:1266px;
    margin:0 auto;
    padding:0px 30px;
    box-sizing: border-box;
    max-width:100%!important;
    text-align: unset!important;
}

.section{

    &--grey{
        background:$darkbg;
    }

}