$base: #0b0830;
$base-light: #39365f;
$primary:#c33a29;
$darkbg:#f3f4f7;
$violetdark:#120091;
$voletlight:#5d5faa;

@import "mixins";
@import "breakpoints";
@import "base";
@import "helpers";
@import "button";
@import "sections/sections.scss";

